# Ignore save directories
*/files/

# Ignore .DS_Store
.DS_Store

# Ignore .vscode
.vscode

# Ignore zed pyright config
pyrightconfig.json

# Ignore __pycache__
*/__*__

# Ignore Julia test function
test.jl

# Ignore mesh files
*.vtk
*.msh

# Ignore wip folder
*/wip/
